.navbar-light a.navbar-brand,
.navbar-light .navbar-nav .nav-link.active {
  color: #64ffda;
}

.navbar-light a.navbar-brand:hover,
.navbar-light a.navbar-brand:focus {
  color: #64ffda;
}

.navbar-light .navbar-toggler {
  color: transparent;
  border: 0;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/menu.svg");
}

.navbar-light .navbar-nav .nav-link {
  font-family: "Fira Code", monospace;
  font-size: 14px;
  margin: 0px 10px;
  color: #ccd6f6;
}

.navbar-light .navbar-nav .nav-link span {
  margin-right: 4px;
}

.navbar-light .navbar-nav a.nav-link:hover,
.navbar-light .navbar-nav a.nav-link span {
  color: #64ffda;
}
